.buildpath
.DS_Store
.project
.settings
.idea

*.htaccess
*.zip
simplewind/
video/
zzz1/
public/
plugins/
index_drive/
data/

/php.php
/index.php
/config.yaml
/hbxml.debug
/Nginx.conf
/cacert.pem
/youshi.sql
/youshi.release
/MP_verify_UEQqeh8DneBfOBdU.txt

/themes/simplebootx_mobile/
/README.md
/application/Demo
/application/Install
